<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811352051530-ad28gri5d98r1e0g231nm5o55fomq1gj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811352051530-ad28gri5d98r1e0g231nm5o55fomq1gj</string>
	<key>API_KEY</key>
	<string>AIzaSyCKG3Cn03PuN_BCI4q9v6uYnegixKQD4iM</string>
	<key>GCM_SENDER_ID</key>
	<string>811352051530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ecfd1</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ecfd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811352051530:ios:b9b89b4dd27bb199ed7bb3</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-ecfd1.firebaseio.com</string>
</dict>
</plist>